.home {
  .home-content {
    background-color: $light-gray;
    font-family: UbuntuLight;
    font-size: 20px;

    .banner-image {
      max-width: 1200px;
      min-height: 220px;
      display: flex;
      margin-bottom: 60px;
    }

    .home-banner {
      background-image: url(../images/home.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }

    .words {
      padding-left: 10%;
      padding-right: 10%;
      color: $white;
      padding-bottom: 5%;
    }

    .double-image {
      display: flex;
      justify-content: space-around;

      .image-area {
        height: 300px;
        width: 300px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin-top: 5px;
        margin-bottom: 65px;
      }

      .image1 {
        background-image: url(../images/store-inside1.jpg);
      }

      .image2 {
        background-image: url(../images/store-inside2.jpg);
      }
    }
  }
}

@media only screen and (max-width: 780px) {
  .home {
    .home-content {
      .double-image {
        flex-direction: column;
        max-width: 300px;
        margin: 0 auto;
      }
    }
  }
}
