.images {
  .images-content {
    background-color: $light-gray;
    font-family: UbuntuLight;
    font-size: 20px;

    .banner-image {
      max-width: 1200px;
      min-height: 220px;
      display: flex;
      margin-bottom: 60px;
    }

    .images-banner {
      background-image: url(../images/store-front.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }

    .words {
      padding-left: 10%;
      padding-right: 10%;
      color: $white;
      padding-bottom: 5%;
    }

    .double-image {
      display: flex;
      justify-content: space-around;

      .image-area {
        padding: 20px;
        min-height: 300px;
        width: 340px;
        margin-top: 5px;
        margin-bottom: 65px;
        background-color: $lighter-gray;
      }

      .image {
        height: 300px;
        width: 300px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }

      .text-area {
        margin-top: 20px;
        margin-bottom: -15px;
        color: $white;
        font-size: 18px;
      }

      .image1 {
        background-image: url(../images/phone.jpg);
      }

      .image2 {
        background-image: url(../images/laptop.jpg);
      }

      .image3 {
        background-image: url(../images/store-inside3.jpg);
      }

      .image4 {
        background-image: url(../images/store-inside4.jpg);
      }
    }
  }
}

@media only screen and (max-width: 780px) {
  .images {
    .images-content {
      .double-image {
        flex-direction: column;
        max-width: 340px;
        margin: 0 auto;
      }
    }
  }
}
